{% extends "base.html" %}

{% block headtitle %}
    {{ printer.name }}
{% endblock %}

{% block headertext %}
    <h1>{{ printer.name }}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="shadow-container">
        <div style="display: flex;" >
            <div>
                <img class="text-uppercase" style="width: 100px; height: 100px; display: block" src="{{ printer.logo }}"></img>
                <div class="some-printer rating" style="display: block">
                    {% for i in cycle %}
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    {% endfor %}
                </div>
            </div>
            <div class="some-printer rating" style="flex-grow: 0;">
                <div class="printer-info-short">
                    <span style="font-weight: bold">Адрес: </span><span style="font-style: oblique;">{{ printer.address }} </span> </br>
                    <span style="font-weight: bold">Метро: </span><span style="font-style: oblique;">{{ printer.metro }} </span> </br>
                </div>
                <div class="printer-info-full">
                    <span style="font-weight: bold">Время работы: </span><span style="font-style: oblique;">{{ printer.schedule }} </span> </br>
                    <span style="font-weight: bold">Перечень услуг: </span> <span style="font-style: oblique"> {{ printer.services }} </span> </br>
                </div>
            </div>
        </div>
    </div>
    <div id="vk_comments"></div>
    <script type="text/javascript">
        VK.Widgets.Comments("vk_comments", {limit: 100, attach: "*"});
    </script>
</div>
{% endblock %}