{%  extends 'base.html' %}
{% load staticfiles %}

{% block headertext %}
    Обсудите заказ в реальном времени!
{% endblock %}

{% block content %}

<div class="chat-window container-outside">
{% if msgs %}
 {% for msg in msgs %}
    <div class="msg {{ msg.style }}">
        <h5>{{ msg.sender }} | {{ msg.date |date:'Y-m-d H:i' }}</h5>
        <div class="msg-text">
            <p>
                {{ msg.message }}
            </p>
            </br id="{{ msg.id }}">
        </div>
    </div>
 {% endfor %}

{% endif %}
</div>

<form method="POST" action="./">
{% csrf_token %}

   <input for="id_order" name="order" type="hidden" value="{{ order }}">
   <input for="id_sender" name="sender" type="hidden" value="{{ sender }}">
    <div id="chat_message">
    <p>{{ form.message }}</p>

    <button type="submit" class="btn btn-primary chat-button">Отправить</button>
    </div>
</form>

{% endblock %}

{% block javascript %}
<script>
/**
 * Created by qed on 27.03.17.
 */

var ajax_id = '{% with msgs|last as last %}{{ last.id }}{% endwith %}';
var ajax_order = '{% with msgs|last as last %}{{ last.order }}{% endwith %}';

function get_id() {
            if (ajax_id == '{% with msgs|last as last %}{{ last.id }}{% endwith %}')
            {
                return ajax_id
            } else {
                return ajax_id
            }
}

function get_order() {
    if (ajax_order == '{% with msgs|last as last %}{{ last.order }}{% endwith %}') {
        return ajax_order
    } else {
        return ajax_order
    }
}



function AjaxCall() {
   var foo = $.ajax({
    //type: 'POST',
    url:'{% url "chat_ajax" %}',
    data: {
        "lastmsg_id":get_id(),
        "order": get_order(),
    },
    datatype: 'json',
    success: function(data) {
       if (data.error){
           console.log(data.error);
       }
       if (data.message) {
           $('<div class="msg new-msgs" id="msg_'+data.id+'"></div>').appendTo(".chat-window");
           $('#msg_' + data.id).addClass(data.style)
           $('<h5>' + data.sender + ' | ' + data.date + '</h5>').appendTo("#msg_"+data.id);
           $('<div class="msg-text" id="text_'+data.id+'"></div>').appendTo("#msg_"+data.id);
           $('<p>' + data.message + '</p>').appendTo("#text_"+data.id);
           $('</br id="'+ data.id +'">').appendTo("#text_"+data.id);
           $('.chat-window').scrollTop($('.chat-window')[0].scrollHeight);
           ajax_id = data.id;
           ajax_order = data.order;
 }
    },
    error: function() { console.log["error"] }
    });
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

window.onload = function(){
    $('.chat-window').scrollTop($('.chat-window')[0].scrollHeight);
    $('#id_message').attr('placeholder', 'Введите сообщение');
    $('html, body').animate({
        scrollTop: $('.chat-window').offset().top - 20
    }, 'fast');
    $('#id_message').keypress(function(e) {
        if(e.which == 13) {
            jQuery(this).blur();
            jQuery('.btn').focus().click();
        }
    });
};
setInterval(AjaxCall, 200);

</script>
{% endblock %}
