body{margin-top:20px;}
.fa-fw {width: 2em;}

acc {
    padding-right: 15px;
    margin-bottom: 100px;
    clear: both;
    overflow: auto;
}

.menus {
    float: left;
    clear: both;
}

.row {
    display: block;
}

.fa-fw {
    margin: 5px;
}

.profile-table {
    float: right;
    margin-left: 100px;
    margin-right: 0px;
}

.forms {
    display: inline-block;
    clear: both;
    width: 50%;
    height: 100%;
    margin: auto;
    margin-top: 10px;
    margin-left: 100px;
}

.pass-change {
    margin-top: 15px;
    width: 70%;
    align-content: center!important;
}

.pass-change-btn {
    align-content: center!important;
}

.slave-submit {
    margin-top: 20px;
    margin-left: 100px;
}

.printer-submit {
    margin-left: 175px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.pass-div {
    -webkit-align-items: center;
}
