.bloke-register-b2b {
    margin-left: 26%;
    position: relative;
    margin-bottom: 200px;
    clear: both;
}


.bloke-register {
    margin-left: 26%;
    position: relative;
    margin-bottom: 550px;

}

.bloke-login {
    margin-left: 26%;
    position: relative;
    margin-bottom: 300px;

}

.header {
    margin: 10px;
    margin-bottom: 20px;
    font-size: 160%;
}

.regmenu {
    margin: 5px;
    margin-top: 10px;
    font-family: inherit;
}

.logit-group {
    margin: 20px;
    height: 69px;
    text-align: center;
}

.help-block {
    text-align: center;
    margin-bottom: 6px;
}

.logit {
    margin-top: 10%;
    width: 90%;
}

.plchldr {
    text-align: center;
}

html, body, #map {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

#floating-panel, #map {
    position: relative;
}

#map {
    width: 450px;
    height: 200px;
}

#address {
    width: 450px;
    margin: 5px;
    margin-left: 0px;
}

#submit-geocode {
    margin: 5px;
    margin-left: 0px;
}