.bloke-register {
    margin-left: 26%;
    position: relative;
    margin-bottom: 550px;

}

.bloke-login {
    margin-left: 26%;
    position: relative;
    margin-bottom: 300px;

}

.header {
    margin: 10px;
    margin-bottom: 20px;
    font-size: 160%;
}

.regmenu {
    margin: 5px;
    margin-top: 10px;
    font-family: inherit;
}

.logit-group {
    margin: 20px;
    height: 69px;
    text-align: center;
}

.help-block {
    text-align: center;
    margin-bottom: 6px;
}

.logit {
    margin-top: 10%;
    width: 90%;
}

.plchldr {
    text-align: center;
}
