{% extends "base.html" %}
{% load static from staticfiles %}

{% block headtitle %}
Вход
{% endblock %}

{% block headertext %}
    <h1>Вход</h1>
{% endblock %}

{% block content %}

{% if form.errors %}
<p class="error">Некорректное имя или пароль.</p>
{% endif %}

<div class="bloke-login col-xs-6 col-sm-6">
<div align="center">
    <a href="{% url 'social:begin' 'vk-oauth2' %}" class="links">
        <img src="{% static "images/vk.png" %}" alt="VK" class="img-circle">
    </a>
</div>
<form class="form-group logit-group" action="" method="POST">
    {% csrf_token %}

  <div class="form-group logit-group">
    <label for="id_username" class="regmenu">Имя пользователя</label>
      {{ form.username }} <br>
  </div>

  <div class="form-group logit-group">
    <label for="id_password" class="regmenu">Пароль</label>
      {{ form.password }}
      <p class="help-block">{{ form.password.help_text |safe}}</p>
  </div>

   <button type="submit" class="btn btn-info logit">Войти</button>

</form>

</div>

    <script>
function MakeItWork(){
            $("#id_username").attr('placeholder', 'Имя пользователя');
            $("#id_username").addClass("form-control plchldr");
            $("#id_password").attr('placeholder', 'Пароль');
            $("#id_password").addClass("form-control plchldr");
        }
window.onload = function(){MakeItWork()}
</script>

{% endblock %}