{% extends "base.html" %}

{% block headtitle %}
    Регистрация
{% endblock %}

{% block headertext %}
    <h1>Регистрация</h1>
{% endblock %}

{% block content %}
    <div class="bloke-register col-xs-6 col-sm-6">
<form method="post" action="" class="form-group logit-group">
{% csrf_token %}
<dl class="register">
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd class="clearfix">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
    </dd>
{% endfor %}
</dl>
<input type="submit" value="Зарегистрироваться" class="clearfix btn btn-success logit">
</form>
    </div>

{% block javascript %}
    <script>
function MakeItWork(){
            $("#id_username").attr('placeholder', 'Имя пользователя');
            $("#id_username").addClass("form-control plchldr");
            $("#id_email").attr('placeholder', 'Адрес электронной почты');
            $("#id_email").addClass("form-control");
            $("#id_password1").attr('placeholder', 'Пароль');
            $("#id_password1").addClass("form-control plchldr");
            $("#id_password2").attr('placeholder', 'Подтверждение пароля');
            $("#id_password2").addClass("form-control plchldr");
            $(".clearfix").addClass("help-block");
            $("label").addClass("regmenu");
        }
window.onload = function(){MakeItWork()}
</script>

{% endblock %}

{% endblock %}
