{% extends "account/personal_account.html" %}

{% block headtitle %}
    Рынок заявок
{% endblock %}

{% block account %}
    <table class="table table-bordered">
        <tr>
            <th> Время </th>
            <th> Клиент </th>
            <th> Почта </th>
            <th> Статус </th>
            <th> Заголовок </th>
            <th> Комментарий </th>
        </tr>
        {% for order in orders %}
            <tr
                    {% if order.taken == 1 %}
                        class="tr-market-grey"
                    {% endif %}
            >
                <td> {{ order.datetime |date:'Y-m-d H:i' }} </td>
                <td> {{ order.sender }} </td>
                <td> {{ order.email }} </td>
                <td> {{ order.status }} </td>
                <td> {{ order.service }} </td>
                <td> {{ order.comment }} </td>
            </tr >
            <tr>
                <td colspan="6">
                    {% if order.taken == 1 %}
                        <b>Заказ назначен.</b>
                    {% else %}
                        <b>Откликов: {{ order.responses|length }}. </b>
                        {% if printer_id in order.responses %}
                            <b>Вы откликнулись на заказ. </b>
                        {% else %}

                            <button form="submit_form" type="submit" class="btn btn-info">Откликнуться</button>
                        {% endif %}
                    {% endif %}
                        <a type="button" class="btn btn-info" href="{% url 'market_order' id=order.id  %}">Перейти к заказу</a>
                    {% if printer_id not in order.responses %}
                        <form id="submit_form" method='post' action="{% url 'market_order' id=order.id  %}">
                                {% csrf_token %}
                                <input type="hidden" id="id_responder" name="responder" value="{{ printer_id }}" required>
                                <input type="hidden" id="id_response_order" name="response_order" value="{{ order.id }}" required>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}