{% extends "base.html" %}

{% block headtitle %}
    Полученные заявки
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <tr>
            <th> Время </th>
            <th> Клиент </th>
            <th> Номер телефона </th>
            <th> Почта </th>
            <th> Статус </th>
            <th> Заголовок </th>
            <th> Комментарий </th>
        </tr>
        {% for order in orders %}
            <tr {% if order.tr_class %} class="{{order.tr_class}}" {% endif %}>
                <td> {{ order.datetime |date:'Y-m-d H:i' }} </td>
                <td> {{ order.sender }} </td>
                <td> {{ order.phone }} </td>
                <td> {{ order.email }} </td>
                <td> {{ order.status }} </td>
                <td> {{ order.service }} </td>
                <td> {{ order.comment }} </td>
            </tr>
            <tr>
                <td colspan="6"> <a href="">ссылка</a> </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}