{% extends "base.html" %}

{% block headtitle %}
    Полученные заявки
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <tr>
            <th> Время </th>
            <th> Клиент </th>
            <th> Номер телефона </th>
            <th> Почта </th>
            <th> Статус </th>
            <th> Заголовок </th>
            <th> Комментарий </th>
        </tr>
        {% for order in orders %}
            <tr {% if order.tr_class %} class="{{order.tr_class}}" {% endif %}>
                <td> {{ order.datetime |date:'Y-m-d H:i' }} </td>
                <td> {{ order.sender }} </td>
                <td> {{ order.phone }} </td>
                <td> {{ order.email }} </td>
                {% if select %}<td> <form action="{% url 'market_order' id=order.id  %}" method="POST">{% csrf_token %} {{ select.status }} </form></td>{% endif %}
                <td> {{ order.service }} </td>
                <td> {{ order.comment }} </td>
            </tr>
            <tr>
                <td colspan="7"> <a type="button" class="btn btn-info" href="{% url 'chat' id=order.id  %}">Перейти к чату</a> </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}