{% extends "account/personal_account.html" %}

{% block headtitle %}
    Посмотреть заявку
{% endblock %}

{% block account %}
    {% if error %}

    {% else %}
        <table class="table table-bordered">
            <tr>
                <th> Время </th>
                <th> Клиент </th>
                {% if select or is_private %}<th> Номер телефона </th>{% endif %}
                <th> Почта </th>
                {% if select or is_private %}<th> Статус </th>{% endif %}
                <th> Заголовок </th>
                <th> Комментарий </th>
            </tr>
            <tr
                    {% if order.taken == 1 %}
                        class="tr-market-grey"
                    {% endif %}
            >
                <td> {{ order.datetime |date:'Y-m-d H:i' }} </td>
                <td> {{ order.sender }} </td>
                {% if select or is_private %}<td> {{ order.phone }} </td>{% endif %}
                <td> {{ order.email }} </td>
                {% if select %}<td> <form action="{% url 'market_order' id=order.id  %}" method="POST">{% csrf_token %} {{ select.status }} </form></td>{% endif %}
                {% if is_private %}<td> {{ order.status }} </td>{% endif %}
                <td> {{ order.service }} </td>
                <td> {{ order.comment }} </td>
            </tr >
            <tr>
                <td colspan="7">
                    {% if order.taken == 1 %}
                        {% if select %}
                            <b> Вы назначены исполнителем. </b>
                        <a type="button" class="btn btn-info" href="{% url 'chat' id=order.id  %}">Перейти к чату</a>
                        {% else %}
                            <b>Заказ назначен.</b>
                            <a type="button" class="btn btn-info" href="{% url 'chat' id=order.id  %}">Перейти к чату</a>
                        {% endif %}
                    {% else %}
                        <b>Откликов: {{ order.responses|length }}. </b>
                        {% if not is_private %}
                            {% if printer.id in order.responses %}
                                <b>Вы откликнулись на заказ</b>
                            {% else %}
                                <form method='post' action="{% url 'market_order' id=order.id  %}">
                                    {% csrf_token %}
                                    <input type="hidden" id="id_responder" name="responder" value="{{ printer.id }}" required>
                                    <input type="hidden" id="id_response_order" name="response_order" value="{{ order.id }}" required>
                                    <button type="submit" class="btn btn-info">Откликнуться</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if is_private %}
                        <form action="{% url 'private_one' id=order.id  %}" method="POST">
                            {% csrf_token %}
                            <label for="id_destination">Исполнитель: </label>
                            <select id="id_destination" name="destination" onchange="this.form.submit()">
                                <option value="" selected="selected">---------</option>
                                {% for key, val in order.responses.items %}
                                <option value="{{ key }}" {% if destination_id == key%}selected="selected" {% endif %}>{{ val.name }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    {% endif %}
                </td>
            </tr>
        </table>
        {% if comments %}
            <div>
            {% for comment in comments %}
                <div class="comment">
                    <h5>{{ comment.sender }} | {{ comment.datetime |date:'Y-m-d H:i' }}</h5>
                    <div>
                        <p>
                            {{ comment.comment }}
                        </p>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        {% if order.taken == 0 and not is_private %}
            <div  class="comment">
                <form method='post' action="{% url 'market_order' id=order.id  %}">
                    {% csrf_token %}
                    <input type="hidden" id="id_sender" name="sender" value="{{ printer.id }}" required>
                    <input type="hidden" id="id_order" name="order" value="{{ order.id }}" required>
                    <label for="id_comment">Добавить комментарий:</label>
                    {{ form.comment }}
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </form>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}