{% extends "account/personal_account.html" %}

{% block account %}

<form enctype="multipart/form-data" method="post">
{% csrf_token %}
<div class="profile-table">
{% for field in form.visible_fields %}
    <dt>{{ field.label_tag }}</dt>
    <dd class="clearfix">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
    </dd>
{% endfor %}
   {% for field in form.hidden_fields %}
     <div style="display:none;" class="hidden-shit">{{ field }}</div>
    {% endfor %}
</div>

    <input type="submit" value="Изменить" class="btn btn-success logit">

</form>

 <div id="floating-panel">
      <input id="address" type="textbox", class="form-control" value="Москва, Россия">
      <input id="submit-geocode" type="button" value="Проверить адрес">
</div>
    <div id="map"></div>

{% endblock %}

{% block javascript %}

<script src="http://maps.google.com/maps/api/js?key=AIzaSyCIC6deUmipx1i53t2ncZlP7MUTeQ52qvY&language=ru&region=RU"></script>


<script>


function initMap() {
    var var_lat = $('#id_lat').val();
    var var_lon = $('#id_lon').val();
    $("#address").val($('#id_address').val());
    var latlng = new google.maps.LatLng(var_lat, var_lon);
    console.log(var_lat);
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 8,
    center: latlng
  });
  var geocoder = new google.maps.Geocoder();
  var marker = new google.maps.Marker({
        map: map,
        position: latlng,
        draggable:true
      });

   google.maps.event.addListener(marker, 'dragend', function()
{
    geocodePosition(marker.getPosition());
});

  document.getElementById('submit-geocode').addEventListener('click', function() {
    geocodeAddress(geocoder, map, marker);
  });
}

function geocodeAddress(geocoder, resultsMap, marker) {
  var address = document.getElementById('address').value;
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      resultsMap.setCenter(results[0].geometry.location);
      marker.setPosition(results[0].geometry.location);
      $('#id_address').val(results[0].formatted_address);
      $('#id_lat').val(results[0].geometry.location.lat);
      $('#id_lon').val(results[0].geometry.location.lng);
      console.log(results[0].formatted_address);
    } else {
      alert('Такого адреса не существует: ' + status);
    }
  });
}

function geocodePosition(pos)
{
   geocoder = new google.maps.Geocoder();
   geocoder.geocode
    ({
        latLng: pos
    },
        function(results, status)
        {
            if (status == google.maps.GeocoderStatus.OK)
            {
                $("#address").val(results[0].formatted_address);
                $("#mapErrorMsg").hide(100);
                $('#id_address').val(results[0].formatted_address);
                $('#id_lat').val(results[0].geometry.location.lat);
                $('#id_lon').val(results[0].geometry.location.lng);
            }
            else
            {
                $("#mapErrorMsg").html('Такого адреса не существует: '+status).show(100);
            }
        }
    );
}

window.onload = function() {
    $('#id_logo').removeClass('form-control');
    initMap();
}
</script>

{% endblock %}