{% extends "account/personal_account.html" %}

{% block account %}

<div class="pass-div">

<form method="post" action="" class="form-group pass-change">

        {% csrf_token %}
        <div class="field"> <p>Старый пароль</p> <p>{{ form.old_password }} </p> </div>
        <div class="field"> <p>Новый пароль</p> <p>{{ form.new_password1 }} </p> </div>
        <div class="field"> <p>Подтверждение нового пароля</p> <p>{{ form.new_password2 }} </p> </div>



  <input type="submit" value="Изменить" class="btn btn-success pass-change-btn">

</form>
</div>
{% endblock %}

{% block javascript %}
    <script>
function MakeItWork(){
            $("#id_old_password").addClass("form-control");
            $("#id_new_password1").addClass("form-control");
            $("#id_new_password2").addClass("form-control");
        }
window.onload = function(){MakeItWork()}
</script>

{% endblock %}