
	{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
            {% block headtitle %}
            Base title
            {% endblock %}
    </title>
    <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
	<link type="text/css" rel="stylesheet" href="{% static "css/bishen.css" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/forms.css" %}"/>
</head>
<body>
	{% block navmenu %}
        <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse"
                     data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{% url 'main_page' %}" class="navbar-brand">BiShen</a>
                </div>

                <nav class="collapse navbar-collapse bs-navbar-collapse collapse in" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="../">Найти печатника</a></li>
                        <li><a href="{% url 'b2c' %}">Найти заказ</a></li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">О печати<span class="caret"></span></a>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'printing1' %}">Ссылка1</a></li>
                                <li><a href="{% url 'printing2' %}">Ссылка2</a></li>
                                <li><a href="{% url 'printing3' %}">Ссылка3</a></li>
                              </ul>
                            </li>
                        <li><a href="{% url 'about' %}">О нас</a></li>
                </ul>
                </nav>
            </div>
        </header>
      {% endblock %}

      {% block header %}

          <div class="bs-docs-header" id="content">
            <div class="container">
                <h1>Text</h1>
            </div>
          </div>

      {% endblock %}

    {% block content %}
    <div id="blank">
        <h1>BLANK</h1>
    </div>
    {% endblock %}

	<div id="footer">
		<small> (c) Blank Blank Blank, 2017 </small>

        <div id="socialm">
				<a href="blank.html" title="blank.html">
					<img src="{% static "images/fb.png" %}" alt="Facebook">
				<a href="blank.html" title="blank.html">
					<img src="{% static "images/vk.png" %}" alt="VK" class="img-circle">
				<a href="blank.html" title="blank.html">
					<img src="{% static "images/tw.png" %}" alt="Twitter" class="img-circle">
				<a href="blank.html" title="blank.html">
					<img src="{% static "images/inst.png" %}" alt="Instagram" class="img-circle">
        </div> <!--sidebar -->

	</div>

	    <!-- Core Scripts - Include with every page -->
	    <script src = "{% static 'js/jquery.min.js' %}"></script>

	    <script src = "{% static 'js/bootstrap.min.js' %}"></script>


	    {% block javascript %}
	    {% endblock %}

</body>
</html>