{% load staticfiles %}
{% load flatpages %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
            {% block headtitle %}
            Base title
            {% endblock %}
    </title>
    <link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>
	<link type="text/css" rel="stylesheet" href="{% static "css/bishen.css" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/forms.css" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/chat.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "css/market.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "css/font-awesome/css/font-awesome.min.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "css/accounts.css" %}" />
    {% block customcss %} {% endblock %}
</head>
<body>
	{% block navmenu %}
        <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
            <div class="container-fluid row">
                <div class="navbar-header col-sm-2">
                    <button class="navbar-toggle" type="button" data-toggle="collapse"
                     data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{% url 'map' %}" class="navbar-brand">BiShen</a>
                </div>

                <nav class="col-sm-12 collapse navbar-collapse bs-navbar-collapse collapse in" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'map' %}">Найти печатника</a></li>
                        <li><a href="{% url 'market' %}">Найти заказ</a></li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">О печати<span class="caret"></span></a>


                                {% get_flatpages "/printing/" as printpages %}
                                <ul class="dropdown-menu" role="menu">
                                    {% for page in printpages %}
                                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                                    {% endfor %}
                                </ul>


                            </li>

                            {% get_flatpages "/page/" as aboutpages %}
                                {% for page in aboutpages %}
                                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                                {% endfor %}
                            </ul>

                </ul>
                </nav>

                {% if user.is_authenticated %}

                    <div class="col-sm-offset-2">
                    <a type="button" class="btn btn-success reg-btn" href="{% url 'user_profile' %}">Личный кабинет</a>
                    <a type="button" class="btn btn-info reg-btn" href="{% url 'logout' %}">Выйти</a>
                    </div>

                {% else %}

                    <div class="col-sm-offset-2">

                    <a type="button" class="btn btn-success reg-btn" href="{% url 'register' %}">Регистрация</a>
                    <a type="button" class="btn btn-info reg-btn" href="{% url 'login' %}">Войти</a>

                {% endif %}

                </div>
            </div>
        </header>
      {% endblock %}

      {% block header %}

          <div class="bs-docs-header" id="content">
            <div class="container">
                {% block headertext %}
                {% endblock %}

            </div>
          </div>

      {% endblock %}

    {% block content %}
    <div id="blank">
        <h1>BLANK</h1>
    </div>
    {% endblock %}

	<div id="footer">
		<small> (c) Blank Blank Blank, 2017 </small>

        <div id="socialm">
				<a href="blank.html" title="blank.html" class="links">
					<img src="{% static "images/fb.png" %}" alt="Facebook">
                </a>

				<a href="blank.html" title="blank.html" class="links">
					<img src="{% static "images/vk.png" %}" alt="VK" class="img-circle">
                </a>

				<a href="blank.html" title="blank.html" class="links">
					<img src="{% static "images/tw.png" %}" alt="Twitter" class="img-circle">
                </a>

				<a href="blank.html" title="blank.html" class="links">
					<img src="{% static "images/inst.png" %}" alt="Instagram" class="img-circle">
                </a>
        </div> <!--sidebar -->

	</div>

	    <!-- Core Scripts - Include with every page -->
	    <script src = "{% static 'js/jquery.min.js' %}"></script>

	    <script src = "{% static 'js/bootstrap.min.js' %}"></script>


	    {% block javascript %}
	    {% endblock %}

</body>
</html>